{% load static %}


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Foodies{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
	*{
		--dark:#222;
		--light:#eee;
		}
		body{
		font-family:arial;
		background:var(--light);
		color:var(--dark);
		}
		/*When the body has the class 'dark-mode' */
		body.dark-mode{
		--dark:#fff;
		--light:#222;
		}
		a{
		text-decoration:none;
		color:inherit;
		}
		nav{
	    color:#fff;
		box-shadow: 0 0 5px #444;
		display:flex;
		align-items:center;
		justify-content:space-between;
		}

	svg{
		width:30px;
		height:30px;
		cursor:pointer;
		margin-left:1rem;
		}
		.sun{
		display: none;
		
		}
		/*When the body has the class 'dark-mode' */
		
		.dark-mode .moon {
		display: none;
		}
		
		.dark-mode .sun {
		display: block;
		}
</style>
</head> 
<body>


  <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
		<div class="px-3 py-3 lg:px-5 lg:pl-3">
		  <div class="flex items-center justify-between">
			<div class="flex items-center justify-start rtl:justify-end">
			  <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
				  <span class="sr-only">Open sidebar</span>
				  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					 <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
				  </svg>
			   </button>
			  <a href="" class="flex ms-2 md:me-24  no-underline text-dark">
				<img src="{% static 'images/logo.jpg' %}" alt="logo" width="25%" height="50%" class="ml-4">
				{% comment %} <h1 class="self-center no-underline font-semibold sm:text-2xl whitespace-nowrap dark:text-dark" style="font-size:25px">FOODIES</h1> {% endcomment %}
			  </a>
			</div>
			<div class="float-end">
			<div class="flex items-center text-dark ">
				<svg onclick="changeMode()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="sun">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
				  </svg>
				  <svg onclick="changeMode()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="moon">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
				  </svg>
				<div class="flex items-center ms-3">
				  <div>
					<a href="/signin/" type="button" class="flex text-lg p-2 no-underline rounded text-gray-900-lg me-4 text-bold bg-gray-300" aria-expanded="false">
					  LOGOUT
					</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </nav>
	  
	  <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 mt-8 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
		 <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800 text-dark">
			<ul class="space-y-2 font-medium">
			   <li>
				  <a href="/dashboard/" class="flex items-center p-2  no-underline  rounded-lg dark:text-dark hover:bg-gray-100 dark:hover:bg-gray-700 group">
					 <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
						<path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
						<path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
					 </svg>
					 <span class="ms-3">Dashboard</span>
				  </a>
			   </li>
			   <li>
				  <a href="/Create_item/" class="flex items-center p-2  no-underline text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					 <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
						<path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
					 </svg>
					 <span class="flex-1 ms-3 whitespace-nowrap">Menu</span>
				  </a>
			   </li>
			   <li>
				  <a href="/item_list/" class="flex items-center p-2  no-underline text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
					 <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
						<path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
					 </svg>
					 <span class="flex-1 ms-3 whitespace-nowrap">Item List</span>
				  </a>
			   </li>
			   <li>
				<a href="/create_orders/" class="flex items-center p-2  no-underline text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
				   <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
					  <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
				   </svg>
				   <span class="flex-1 ms-3 whitespace-nowrap">Orders</span>
				</a>
			 </li>
			</ul>
		 </div>
	  </aside>

<br><br>
<div class="p-4 sm:ml-64 mt-16">
    <div class="chart-row three  ">
      <div class="chart-container-wrapper bg-gray-600 text-white rounded-2xl">
        <div class="chart-container">
          <div class="chart-info-wrapper">
            <h2>Profit</h2>
            <span>20.5 K</span>
          </div>
          <div class="chart-svg">
            <svg viewBox="0 0 36 36" class="circular-chart pink">
     			 <path class="circle-bg" d="M18 2.0845
          			a 15.9155 15.9155 0 0 1 0 31.831
          			a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<path	path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
         	 		a 15.9155 15.9155 0 0 1 0 31.831
          			a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<text x="18" y="20.35" class="percentage">30%</text>
    		</svg>
        </div>
        </div>
      </div>
      <div class="chart-container-wrapper bg-gray-600 text-white rounded-2xl">
        <div class="chart-container">
          <div class="chart-info-wrapper">
            <h2>Total Orders</h2>
            <span>5.5 K</span>
          </div>
        <div class="chart-svg">
            <svg viewBox="0 0 36 36" class="circular-chart blue">
      			<path class="circle-bg" d="M18 2.0845
          		a 15.9155 15.9155 0 0 1 0 31.831
          		a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
          		a 15.9155 15.9155 0 0 1 0 31.831
          		a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<text x="18" y="20.35" class="percentage">60%</text>
    		</svg>
        </div>
        </div>
      </div>
      <div class="chart-container-wrapper bg-gray-600 text-white rounded-2xl">
        <div class="chart-container">
          <div class="chart-info-wrapper">
            <h2>Total Dishes</h2>
            <span>10.5 K</span>
          </div>
           <div class="chart-svg">
            <svg viewBox="0 0 36 36" class="circular-chart orange">
      			<path class="circle-bg" d="M18 2.0845
          		a 15.9155 15.9155 0 0 1 0 31.831
          		a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<path class="circle" stroke-dasharray="90, 100" d="M18 2.0845
          		a 15.9155 15.9155 0 0 1 0 31.831
          		a 15.9155 15.9155 0 0 1 0 -31.831"></path>
      			<text x="18" y="20.35" class="percentage">90%</text>
    		</svg>
          </div>
        </div>
      </div>
    </div>
<div class="p-4 sm:ml-64">
<div id="myBtnContainer">
	{% comment %} <h1 style="color: purple;font-family:'Merriweather', serif;text-align: center;">Our Menu</h1><br> {% endcomment %}
	<button class="btn active" onclick="filterSelection('all')"> Show all</button>
	<button class="btn" onclick="filterSelection('breakfast')"> Breakfast</button>
	<button class="btn" onclick="filterSelection('lunch')"> Lunch</button>
	<button class="btn" onclick="filterSelection('dinner')"> Dinner</button>
	<button class="btn" onclick="filterSelection('bevarages')"> Bevarages</button>
  </div><br><br><br>
  
  <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
  <div class="container">
    {% for item in menu_items %}
        <div class="filterDiv {{ item.category }}">
            <img src="{{ item.image.url }}" width="80px" alt="{{ item.category }}">
        </div>
    {% endfor %}
</div>

<script>
	filterSelection("all")
	function filterSelection(c) {
	  var x, i;
	  x = document.getElementsByClassName("filterDiv");
	  if (c == "all") c = "";
	  for (i = 0; i < x.length; i++) {
		w3RemoveClass(x[i], "show");
		if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
	  }
	}
	
	function w3AddClass(element, name) {
	  var i, arr1, arr2;
	  arr1 = element.className.split(" ");
	  arr2 = name.split(" ");
	  for (i = 0; i < arr2.length; i++) {
		if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
	  }
	}
	
	function w3RemoveClass(element, name) {
	  var i, arr1, arr2;
	  arr1 = element.className.split(" ");
	  arr2 = name.split(" ");
	  for (i = 0; i < arr2.length; i++) {
		while (arr1.indexOf(arr2[i]) > -1) {
		  arr1.splice(arr1.indexOf(arr2[i]), 1);     
		}
	  }
	  element.className = arr1.join(" ");
	}
	
	// Add active class to the current button (highlight it)
	var btnContainer = document.getElementById("myBtnContainer");
	var btns = btnContainer.getElementsByClassName("btn");
	for (var i = 0; i < btns.length; i++) {
	  btns[i].addEventListener("click", function(){
		var current = document.getElementsByClassName("active");
		current[0].className = current[0].className.replace(" active", "");
		this.className += " active";
	  });
	}
	</script>

<script>
	var chart    = document.getElementById('chart').getContext('2d'),
    gradient = chart.createLinearGradient(0, 0, 0, 450);

gradient.addColorStop(0, 'rgba(0, 199, 214, 0.32)');
gradient.addColorStop(0.3, 'rgba(0, 199, 214, 0.1)');
gradient.addColorStop(1, 'rgba(0, 199, 214, 0)');


var data  = {
    labels: [ 'January', 'February', 'March', 'April', 'May', 'June', 'July','August','September','October', 'November','December' ],
    datasets: [{
			label: 'Applications',
			backgroundColor: gradient,
			pointBackgroundColor: '#00c7d6',
			borderWidth: 1,
			borderColor: '#0e1a2f',
			data: [60, 45, 80, 30, 35, 55,25,80,40,50,80,50]
    }]
};

var options = {
	responsive: true,
	maintainAspectRatio: true,
	animation: {
		easing: 'easeInOutQuad',
		duration: 520
	},
	scales: {
		yAxes: [{
      ticks: {
        fontColor: '#5e6a81'
      },
			gridLines: {
				color: 'rgba(200, 200, 200, 0.08)',
				lineWidth: 1
			}
		}],
    xAxes:[{
      ticks: {
        fontColor: '#5e6a81'
      }
    }]
	},
	elements: {
		line: {
			tension: 0.4
		}
	},
	legend: {
		display: false
	},
	point: {
		backgroundColor: '#00c7d6'
	},
	tooltips: {
		titleFontFamily: 'Poppins',
		backgroundColor: 'rgba(0,0,0,0.4)',
		titleFontColor: 'white',
		caretSize: 5,
		cornerRadius: 2,
		xPadding: 10,
		yPadding: 10
	}
};

var chartInstance = new Chart(chart, {
    type: 'line',
    data: data,
		options: options
});

document.querySelector('.open-right-area').addEventListener('click', function () {
    document.querySelector('.app-right').classList.add('show');
});

document.querySelector('.close-right').addEventListener('click', function () {
    document.querySelector('.app-right').classList.remove('show');
});

document.querySelector('.menu-button').addEventListener('click', function () {
    document.querySelector('.app-left').classList.add('show');
});

document.querySelector('.close-menu').addEventListener('click', function () {
    document.querySelector('.app-left').classList.remove('show');
});
</script>

<script>
/*toggle 'dark-mode' class  */
const changeMode = ()=> document.body.classList.toggle("dark-mode")  
</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
	crossorigin="anonymous"></script>
</body>

